

a:hover{
    color:rgb(30, 221, 46);
    
}

h2 {
    text-decoration: underline;
    text-align: center;
}
h2 span{
    display: block;
}
p {
    line-height:px;
    margin: 10px;
    font-size: 11pt;
    
}
body{
    word-wrap:break-word;
}


li {
    
    list-style-type: circle;
    text-align: center;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
    
}
html {
    margin: 0%;
}
li:first-child {
    color: coral;
}
.tt {
    text-align: center;
}
button {
    background: #b5bdc8;
    background: linear-gradient(to top, #b5bdc8 0%, #828c95 36%, #28343b 100%);
    font-size: 10px; 
    padding: 10px 20px; 
    color: #fff; 
    border: 1px solid #333; 
    border-radius: 15px; /* Радиус скругления */
   }

button:focus {
    outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}


.btn {
    background-color: transparent;
    border: 0;
    padding: 0;
}


    .displayed{
        float:left;
        margin: 4px 10px 2px 0px;
        border:1px solid #CCC;
        padding:6px;
        height: 200px;
        width: 200px;
        opacity: 0.5;
}

  html {
    background-image: url(https://i.pinimg.com/originals/fb/d0/6c/fbd06c20de497e7ae9a4ffbddd8a8a6d.jpg);
    background-attachment: scroll;
}
.column {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
   }

  #menuVertical{width:100%;height:auto;}
  #menuVertical ul{
      display:block;
      width:100%;
      height:auto;
      margin:0px;
      padding:0px;
      list-style:none;
      position:relative;
  }
  html, body{margin:0px; padding:0px; font-family:'Times New Roman', Times, serif;}
  div{position:relative;}
  .clear{clear:both;}
  header{height:67px; background:#BA77BC; font-size:25px; color:#ffffff; font-weight:bold; text-align:center; padding-top:20px; text-shadow: 1px 1px 2px rgb(214, 207, 207), 0 0 1em rgb(250, 248, 248);}
  #conteiner, header{
      width:1000px;
      margin:0px auto;
  }
  #conteiner{
      padding:20px 0px 0px 220px;
      box-sizing:border-box;
  }
      #left{
          width:200px;
          height:auto;
          z-index:15;
          margin-left:-220px;
          float:left;
      }
      #right{
          width:100%;
          float:left;
          font-size:15px;
          color:#000000;
      }
      #right p{margin:0px; padding:0px 0px 10px 0px;}
  
  #menuVertical{width:100%;height:auto;}
      #menuVertical ul{
          display:block;
          width:100%;
          height:auto;
          margin:0px;
          padding:0px;
          list-style:none;
          position:relative;
      }
          #menuVertical ul li{display:block; width:100%; height:auto; position:relative;}
              #menuVertical ul li a{
                  position:relative;
                  display:block;
                  width:100%;
                  height:auto;
                  box-sizing:border-box;
                  font-size:13px;
                  text-transform:uppercase;
                  font-weight:bold;
                  color:#FBF7F7;
                  line-height:1.2em;
                  padding:10px 15px;
                  background:#3A9CD3;
                  border-top:1px solid #236A92;
                  text-decoration:none;
              }
              #menuVertical ul  li:first-child a{border:0px;}
              #menuVertical ul li a:hover, #menuVertical ul li:hover a{
                  background:#0A3CC1;
              }
              #menuVertical ul li ul{
                  position:absolute;
                  top:0px;
                  left:100%;
                  display:none;
                  width:auto;
                 }  
             
              #menuVertical ul li:hover ul{display:block;}
                  #menuVertical ul li ul li a{
                      white-space:nowrap;
                      text-transform:none;
                      padding:5px 20px;
                    }
                      #menuVertical ul li ul li a:hover{
                          background:#75C1D4;
                          color:#0A3CC1;
}



*{box-sizing:border-box}
@keyframes loader {
    0% {transform:rotate(-0deg)}
    50%{transform:rotate(-0deg)}
    100%{transform:rotate(-0deg)}}
  @keyframes span-1 {
    0% {transform:translate(0);}
    50%{transform:translate(-20px, 0);border-color:#EE4D68}
    100%{transform:translate(0);}}
  @keyframes span-2 {
    0%{transform:translate(0);}
    50%{transform:translate(20px, 0);border-color:#875678}
    100%{transform:translate(0);}}
  @keyframes span-3 {
    0%{transform:translate(0);}
    50%{transform:translate(0, -20px);border-color:#FF9900}
    100%{transform:translate(0);}}
  @keyframes span-4 {
    0%{transform:translate(0);}
    50%{transform:translate(0, 20px);border-color:#00E4F6}
    100%{transform:translate(0);}}
  .loader {
    width: 20px;
    height: 20px;
    position: relative;
    animation: loader 2s infinite ease-in-out;
  }
  .loader span {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50px;
    top: 50px;
    border: 2px solid #0B1B48;
    float: left;
  }
  .loader span:nth-child(1) {
    animation: span-1 2s ease-in-out infinite;
  }
  .loader span:nth-child(2) {
    animation: span-2 2s ease-in-out infinite;
  }
  .loader span:nth-child(3) {
    animation: span-3 2s ease-in-out infinite;
  }
  .loader span:nth-child(4) {
    animation: span-4 2s ease-in-out infinite;
  }